<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 导入mui.css文件 -->
    <link rel="stylesheet" href="lib/mui/css/mui.min.css">
    <!-- 导入字体css文件 -->
    <link rel="stylesheet" href="lib/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/alifont/iconfont.css">
    <link rel="stylesheet" href="lib/alifont3/iconfont.css">
    <link rel="stylesheet" href="lib/swiper/css/swiper.min.css">
    <!-- 导入自己写的less文件 -->
    <link rel="stylesheet/less" href="less/baicaijia.less">
    <!-- 导入less.js编译器文件 -->
    <script src="lib/less/less.js"></script>
    <script>
        // 实现font-size的变化适配不同的屏幕
        // 指定一个标准屏幕大小 例如375px  指定一个根元素字体大小 例如100px
        // 比例相等 标准屏幕大小/指定根元素字体大小 = 屏幕大小/根元素字体大小
        fontSize();
        window.addEventListener('resize',fontSize);
        // 使得拉伸屏幕宽度也能够自适应, 封装成函数  resize事件调用一次,正常调用一次
        function fontSize(){

            // 获取到当前屏幕的大小
            var winWidth=document.documentElement.offsetWidth;
            // 求出当前应该设置的根元素字体大小
            var htmlFontSize=winWidth/3.75;
            // 设置根元素字体大小
            document.querySelector('html').style.fontSize=htmlFontSize+"px";
        }
    </script>
    <title>Document</title>
</head>

<body>
    <div id="container">
        <a href="#slider" id="back" class="iconfont icon-jiantouarrow499">
        </a>
        <header id="header">
            <a href="index.html" class="logo">白菜价</a>
            <form action="#">
                <input type="text" placeholder="好宝贝 等你搜">
            </form>
            <a href="#" class="icon">
                <i class="iconfont icon-menu"></i>
            </a>
        </header>
        <div id="table_list">
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="#">热销</a>
                </div>
            </div>
            <a href="#" class="category_close">收起分类</a>
        </div>
        <section id="slider">
            <div class="mui-slider">
                <div class="mui-slider-group mui-slider-loop">
                    <!--支持循环，需要重复图片节点-->
                    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                    <div class="mui-slider-item"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                    <div class="mui-slider-item"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                    <div class="mui-slider-item"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                    <div class="mui-slider-item"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                    <!--支持循环，需要重复图片节点-->
                    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#">
                            <img src="images/slider.jpg">
                        </a></div>
                </div>
            </div>
        </section>
        <nav id="nav">
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    <a href="titlePro_list.html?id=1">
                        <i class="iconfont icon-huo"></i>
                        <p>热销</p>
                    </a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="titlePro_list.html?id=2">
                        <i class="iconfont icon-99"></i>
                        <p>9.9包邮</p>
                    </a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="titlePro_list.html?id=3">
                        <i class="iconfont icon-liwu"></i>
                        <p>19块邮</p>
                    </a>
                </div>
                <div class="mui-col-xs-3">
                    <a href="titlePro_list.html?id=6">
                        <i class="iconfont icon-popularity_value"></i>
                        <p>超级人气榜</p>
                    </a>
                </div>
            </div>
        </nav>
        <section id="hot">
            <div class="title">
                <a href="#" class="hot_list">超级人气榜</a>
                <!-- <a href="#" class="more">更多</a> -->
            </div>
            <div class="pro_content">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/loading-02.gif">
                                        <p class="titleName">博弘防爆充电式热水袋</p>
                                        <div class="top">
                                            <span>现价￥<i>24</i></span>
                                            <span>已售1220件</span>
                                        </div>
                                        <div>
                                            <span class="count"><i>券</i><em>10</em>元</span>
                                            <span class="couSell">券后价<sub>￥</sub><i>14.00</i></span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <main id="main">
            <section id="products">
                <div class="title">
                    <a href="#" class="titl_dec">商家优惠信息 实时直播</a>
                    <i>9499</i>
                </div>
                <div class="content">
                    <ul>
                        <li>
                            <a href="#">
                                <!-- <img class="test-lazyload" src="images/loading-02.gif" data-original="images/icon_bar.png" > -->
                                <img src="images/loading-02.gif">
                                <p>《photoshop cs6从入门到精通》</p>
                                <span class="money">￥24.08</span>
                                <span class="brought"><i>435</i>人已买</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/loading-02.gif">
                                <p>《photoshop cs6从入门到精通》</p>
                                <span class="money">￥24.08</span>
                                <span class="brought"><i>435</i>人已买</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/loading-02.gif">
                                <p>《photoshop cs6从入门到精通》</p>
                                <span class="money">￥24.08</span>
                                <span class="brought"><i>435</i>人已买</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/loading-02.gif">
                                <p>《photoshop cs6从入门到精通》</p>
                                <span class="money">￥24.08</span>
                                <span class="brought"><i>435</i>人已买</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/loading-02.gif">
                                <p>《photoshop cs6从入门到精通》</p>
                                <span class="money">￥24.08</span>
                                <span class="brought"><i>435</i>人已买</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </main>

    </div>

    <!-- 创建分类标题模板 -->
    <script type="text/html" id="getTitle-tpl">
        {{each result value}}
            <div class="mui-col-xs-3">
                <a href="titlePro_list.html?id={{value.titleId}}" >{{value.title}}</a>
            </div>
        {{/each}}
    </script>

    <!-- 创建页面上的超级人气榜的模板 -->
    <script type="text/html" id="campusList-tpl">
        {{each result value}}
        <li>
            <a href="javascript:;">
                {{@value.couponProductImg}}
                <p class="titleName">{{value.couponProductName}}</p>
                <div class="top">
                    <span>现价￥<i>{{value.couponProductPrice.replace("￥","")*1+value.couponProductPrice.replace("￥","")*1+3}}</i></span>
                    <span>已售<em>{{value.couponProductPrice.replace("￥","")*34}}</em>件</span>
                </div>
            </a>
        </li>
        {{/each}}
    </script>
    <!-- <p>//{{value.productName.replace(value.productName.slice(0,value.productName.indexOf("</span>")+7),"")}}</p> -->
    <!-- 创建页面上的优惠商品数据的模板 -->
    <script type="text/html" id="discountPro-tpl">

        <% for(var i = 5; i < result.length; i++){ %>
        <li>
            <a href="javascript:;"> 
                <img class="test-lazyload" src="images/loading-02.gif"
                 data-original="{{result[i].productImg.slice(result[i].productImg.indexOf('=')+2).replace('\">','')}}"> 
                <p>{{result[i].productName.replace(result[i].productName.slice(0,result[i].productName.indexOf("</span>")+7),"")}}</p>
                <span class="money">￥<i>{{result[i].productPrice.replace(result[i].productPrice.slice(0,result[i].productPrice.indexOf("<del>")+6),"").replace("</del>","")}}</i></span>
                <span class="brought"><i>{{result[i].productCouponRemain.replace(result[i].productCouponRemain.slice(0,result[i].productCouponRemain.indexOf("已")+2),"").replace("张</b></div>","")}}</i>人已买</span>
            </a>
        </li> 
        <% }%>
    </script>

</body>
<!-- 导入zepto.js文件 -->
<script src="lib/zepto/zepto.min.js"></script>
<script src="lib/alifont/iconfont.js"></script>
<script src="lib/alifont3/iconfont.js"></script>

<!-- 导入mui.js文件 -->
<script src="lib/mui/js/mui.min.js"></script>
<script src="lib/swiper/js/swiper.min.js"></script>
<!-- 导入模板引擎js文件 -->
<script src="lib/artTemplate/template-web.js"></script>
<script src="lib/zepto/picLazyLoad.js"></script>
<!-- 导入自己写的js文件 -->
<script src="js/baicaijia.js"></script>


</html>