<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- 添加视口 -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>慢慢买-手机版</title>
    <link rel="stylesheet/less" href="./less/index.less">
    <link rel="stylesheet" href="./lib/iconfont/iconfont.css">
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <script src="./lib/less/less.js"></script>
</head>

<body>
    <!-- <div class="mui-scroll-wrapper"> -->
        <!-- <div class="mui-scroll"> -->

    <!-- 头部  开始 -->
    <header id="header">
        <a href="index.html" class="icon-logo">
            <img src="./images/logo.png" alt="">
        </a>
        <a href="javascript:void(0);" class="icon-appdownload">
            <img src="./images/appdownload.png" alt="">
        </a>
    </header>
    <!-- 头部  结束 -->
    <!-- 搜索框  开始 -->
    <section id="search">
        <form action="javascript:void(0);">
            <input type="search" placeholder="请输入你想比价的商品">
            <a href="javascript:void(0);">搜索</a>
        </form>
    </section>
    <!-- 搜索框  结束 -->
    <!-- 导航    开始 -->
    <nav id="nav">
        <ul>
            <li><a href="bijia.html"><img src="./image/ic_search.png" alt=""><span>比价搜索</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_cu.png" alt=""><span>省钱控</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_coudanpin.png" alt=""><span>国内折扣</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_bcj.png" alt=""><span>白菜价</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_haitao.png" alt=""><span>海淘折扣</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_temai.png" alt=""><span>优惠券</span></a></li>
            <li><a href="#"><img src="./image/ic_trend.png" alt=""><span>查历史价</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_gengduo.png" alt=""><span>更多</span></a></li>
            <!--<li><a href="javascript:void(0);"><img src="./image/ic_coudanpin.png" alt=""><span>凑单品</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_kb.png" alt=""><span>口碑排行</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_mall.png" alt=""><span>商城导航</span></a></li>
            <li><a href="javascript:void(0);"><img src="./image/ic_pp.png" alt=""><span>品牌大全</span></a></li> -->
        </ul>
    </nav>
    <!-- 导航    结束 -->
    <!-- 主体部分   开始 -->
    <main id="main">
        <div class="title">
            <span>超值折扣推荐</span>
            <img src="./images/more.png" alt="">
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="pic">
                            <img src="./images/deng.jpg" alt="">
                        </div>
                        <div class="desc">
                            <div class="title">
                                HAIDE 海德照明 银系列 LED吸顶灯 24W白
                                <span>99元包邮</span>
                            </div>
                            <div class="other">
                                <span class="mall">京东商城 | 09-25 21:30</span>
                                <span class="comment">
                                    <i class="icon-comment iconfont icon-pinglun"></i>9</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <div class="pic">
                            <img src="./images/short.jpg" alt="">
                        </div>
                        <div class="desc">
                            <div class="title">
                                361° 361度 551637905 男士短袖
                                <span>29元包邮（需用券）</span>
                            </div>
                            <div class="other">
                                <span class="mall">天猫商城 | 09-25 20:35</span>
                                <span class="comment">
                                    <i class="icon-comment iconfont icon-pinglun"></i>4</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="more_bar">
            <a href="getmoneyctrl-ly.html">更多优惠信息 »</a>
        </div>
        <a class="top10" href="javascript:void(0);">
            <div class="jxhd">
                <span>品牌排行</span>
                <img src="http://www.zuyushop.com/wap/images/more.png">
            </div>
        </a>
        
    </main>
    <!-- 主体部分   结束 -->
    <!-- 尾部   开始 -->
    <footer id="footer">
        <div class="foot_top">
            <a href="login.html">登录</a>
            <a href="register.html">注册</a>
            <a href="javascript:$('html,body').scrollTop(0);">
                <i class="gototop  iconfont icon-dfs13"></i>
                <span>返回顶部</span>
            </a>
        </div>
        <div class="foot_bottom">
            <p>
                <a href="javascript:void(0);" style="color: Red; text-decoration: none;">手机APP下载</a>
                <a href="http://m.manmanbuy.com">
                    慢慢买手机版</a> -- 掌上比价平台</p>
            <p>
                m.manmanbuy.com
            </p>
        </div>
        <div class="foot_fixed">
            <a href="http://m.manmanbuy.com/app.html?type=right&amp;value=wap">
                <img src="./images/APP.png">
            </a>
            <a class="totop" href="javascript:;">
                <i class="gotop iconfont icon-huidaodingbu">
                </i>
            </a>
        </div>
    </footer>
    <!-- 尾部   结束 -->
<!-- </div> -->
<!-- </div> -->
    <script type="text/html" id='getindexmenuTpl'>
        {{ each result value index}} 
       {{if index >= 8}}
            <li class="mui-col-xs-3" style="display:none">
        {{else}}
                {{if index == 7}}
                <li class="mui-col-xs-3 moremenu">
                {{else}}
                <li class="mui-col-xs-3">
                {{/if}}
        {{/if}}
        {{if index == 4}}
            <a data-index='{{index}}' href="getmoneyctrl-ly.html">
        {{else}}
            <a data-index='{{index}}' href="{{ value.titlehref }}">
        {{/if}}
                {{@value.img}}
                <span>{{value.name}}</span>
            </a>
        </li>  
       {{ /each}}    
    </script>
    <script type="text/html" id='getmoneyctrlTpl'>
        {{each result value}}
        <li>
            <a href="product.html">
            <!-- <a href="#"> -->
                <div class="pic">
                    {{@value.productImgSm.replace(value.productImgSm.substring(value.productImgSm.indexOf('h'),value.productImgSm.indexOf(';')+8),'')}}
                </div>
                <div class="desc">
                    <div class="title">
                        {{value.productName}}
                        <!-- 促销活动：26日0点京东商城金龙鱼粮油专场 -->
                        <span>抢满199减188元大额券</span>
                    </div>
                    <div class="other">
                        <span class="mall">{{value.productFrom}} | {{value.productTime}}</span>
                        <span class="comment">
                            <i class="icon-comment iconfont icon-pinglun"></i>
                            {{(value.productComCount).replace('有','').replace('人评论','')}}</span>
                    </div>
                </div>
            </a>
        </li>
        {{/each}}
    </script>
    <script src="./lib/jquery/jquery.js"></script>
    <!-- <script src="./lib/zepto/zepto.min.js"></script> -->
    <script src="./lib/mui/js/mui.js"></script>
    <script src="./lib/iconfont/iconfont.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>