<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>慢慢买-省钱控</title>
      <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
      <link rel="stylesheet/less" href="./less/moneyctrl.less">
      <link rel="stylesheet" href="./lib/swiper/css/swiper.min.css">
      <script src="./lib/less/less.js"></script>
</head>

<body>
      <div id="sm-top" class="">
            <!-- 省钱头部 -->
            <header id="SM-Header">
                  <h1>
                        <a href="./index.html">
                              <img src="http://static.manmanbuy.com/m/img/mlogo.png" alt="">
                        </a>
                  </h1>
                  <form action="#">
                        <input type="search" name="search" id="search" placeholder="搜索商品比价">
                  </form>
                  <div class="down">
                        <a href="#">下载</a>
                  </div>
            </header>
            <!-- 导航栏 -->
            <nav id="sm-nav">
                  <div class="category-left">
                        <!-- 滚动大容器 -->
                        <div class="swiper-container">
                              <!-- 所有滚动的内容的容器 图片容器 -->
                              <div class="swiper-wrapper">
                                    <!-- 每个一个滚动项容器 每个轮播图项 -->
                                    <div class="swiper-slide">
                                          <!-- 在里面放真实要滚动的ul -->
                                          <ul class="clearfix">
                                                <li>
                                                      <a href="index.html">首页</a>
                                                </li>
                                                <li  class="active">
                                                      <a href="moneyctrl.html">省钱控</a>
                                                </li>
                                                <li>
                                                      <a href="category.html">比价搜索</a>
                                                </li>
                                                <li>
                                                      <a href="inlanddiscount.html">国内折扣</a>
                                                </li>
                                                <li>
                                                      <a href="history.html">查历史价</a>
                                                </li>
                                                <li>
                                                      <a href="baicaijia.html">白菜价</a>
                                                </li>
                                                <li>
                                                      <a href="indexhour.html">小时风云榜</a>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>

            </nav>
      </div>
      <!-- 主内容 -->
      <!-- 内容展示开始 -->
      <section id="contain">
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://img2017.manmanbuy.com/Thumb_2018090014254831381.jpg" alt="">
                        </a>
                        <div class="con-right">
                              <a href="./productDetails.html">历史低价：UNIQLO 优衣库 412914 女士连衣裙 </a>
                              <p>
                                    <small>¥</small>
                                    <strong>99</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://wnzk-img.zuyushop.com/r_img/img/20180926/14/1ee58cb04bc84159b8b081c2a0784ffa.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="./productDetails.html">productName</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
            <div class="box">
                  <div class="massage">
                        <a href="#">
                              <img src="http://pro-img.zuyushop.com/ProPic/20178/small80/Thumb_2017080009360474424.jpg"
                                    alt="">
                        </a>
                        <div class="con-right">
                              <a href="#">海信(Hisense) LED55EC750US 55英寸 4K超高清 HDR智能智慧语音液晶电视</a>
                              <p>
                                    <small>¥</small>
                                    <strong>3399</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">3商城报价</a>
                                    <a href="#">有3582人评论</a>
                              </div>
                        </div>

                  </div>
            </div>
      </section>
      <!-- 页码开始 -->
      <section id="page">
            <a class="last" href="javascript:;" id="last">
                  <span>上一页</span>
            </a>
            <select name="page" id="pageList">

            </select>
            <a class="next" href="javascript:;" id="next">
                  <span>下一页</span>
            </a>
      </section>
      <!-- 相关链接开始 -->
      <section id="link">

            <a href="index.html">首页</a>
            <span>></span>
            <a href="#">省钱控</a>
      </section>
      <!-- 尾部 -->
      <footer id="footer">
            <ul>
                  <li>
                        <a href="#">登录</a>
                  </li>
                  <li>
                        <a href="#">注册</a>
                  </li>
                  <li>
                        <a href="#top">
                              <i class="iconfont icon-uparrow"></i>返回顶部</a>
                  </li>

            </ul>
            <div class="app">
                  <a href="#">手机app下载</a>
                  <span>慢慢买手机版 -- 掌上比价平台</span>
                  <p>m.manmanbuy.com</p>
            </div>

      </footer>
      <script type="text/html" id="getMoneyCtrltpl">
            {{ each result value }}
            <div class="box">
                  <div class="massage">
                        <a href="./productDetails.html?productid={{value.productId}}">
                              {{@value.productImgSm}}
                        </a>
                        <div class="con-right">
                              <a href="./productDetails.html?productid={{value.productId}}">{{value.productName}}</a>
                              <p>
                                    <small>¥</small>
                                    <strong>{{value.productPinkage}}</strong>
                              </p>
                              <div class="baojia">
                                    <a href="#">{{value.productFrom}}|{{value.productTime}}</a>
                                    <a href="#">
                                          <i class="mui-icon mui-icon-chatboxes"></i>{{value.productComCount.replace("有","").replace("人评论","")}}</a>
                              </div>
                        </div>

                  </div>
            </div>
            {{ /each }}
      </script>

      <script type="text/html" id="getMoneyCPagetpl">

            <a class="last" href="javascript:;" id="last">
                  <span>上一页</span>
            </a>
            <select name="page" id="pageList">
                  <% for(var i = 1; i <= totalPage; i++) { %>
                        <option value="{{i}}">{{i}}/{{totalPage}}</option>
                        <% } %>
            </select>
            <a class="next" href="javascript:;" id="next">
                  <span>下一页</span>
            </a>



      </script>
      <script src="./lib/zepto/zepto.min.js"></script>
      <script src="./lib/mui/js/mui.min.js"></script>
      <script src="./lib/artTemplate/template-web.js"></script>
      <script src="./lib/swiper/js/swiper.js"></script>
      <script src="./js/getmoneyctrl.1.js"></script>
      <script>
            var swiper = new Swiper('.swiper-container', {
                  direction: 'horizontal', //滑动方向
                  slidesPerView: 'auto', //根据轮播图的高度宽度自动适应放几张图片
                  freeMode: true, //是否要回弹 弹簧效果
                  scrollbar: {
                        el: '.swiper-scrollbar', //添加滚动条
                  },
                  mousewheel: true, //允许鼠标滚轮滚动
            });
      </script>

</body>

</html>